h1{
    margin-left: auto;
    text-align:center;
    background: rgb(178, 181, 178);
    padding: 10px;
    margin-right:auto;
    font-size: 30px;
	color: rgb(226, 129, 93);
    font-family:cursive
}
h3{    
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}
h2{  
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}
h4{   
    text-align:center;
    font-size: 30;
    font-family:Arial, Helvetica, sans-serif;
}
.container{   
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}
img {
    position: absolute;
    width: 500px;
    height: 200px;
    height: auto;
    border: 3px solid #3175c3;} 
body {
    background-color: #e7d7c4;
    }
pre{
    font-size: 15px;
	color: rgb(207, 113, 79);
    font-family:cursive
}